{{ ansible_managed | comment }}

minlen = {{ pam_minlen }}
minclass = {{ pam_minclass }}
maxrepeat = {{ pam_maxrepeat }}
maxsequence = {{ pam_maxsequence }}
ucredit = {{ pam_ucredit }}
lcredit = {{ pam_lcredit }}
dcredit = {{ pam_dcredit }}
ocredit = {{ pam_ocredit }}
